/*======================
    404 page
=======================*/

.page_404 {
    text-align: center;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 60vw;
    background-position: center;
    margin: 0 auto;
  }
  
  .four_zero_title {
    font-size: 80px;
    margin: 0;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
  }
  