nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  margin-bottom: 20px;
}

.navlink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navlink:hover::after {
  width: 100%;
}

.navlink.active {
  color: rgb(49, 49, 49);
}

.navlink.active::after {
  width: 100%;
}
